.vs
obj/
bin/
aclocal.m4
sign_temp
.libs
configure
config.log
config.status
*~
*.suo
obj
extras
ossreadme*.txt
*.csproj.user
*.fsproj.user
*.vbproj.user
*.sln.DotSettings.user
*.log
*.jrs
*.chk
*.bak
*.orig
*.mdf
*.ldf
*.cto
*.vstman